*{
    font-family: "M PLUS Rounded 1c, sans-serif";
}

body {
    background-color:rgb(88, 88, 88);
    margin: 0px;
}

h4 {
    color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}
 i {
    font-weight: normal;
 }
.containerVideo {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(53, 53, 53);
}
.embed {
    margin-right: 0px;
}

.removeBtn {
    background-color: #929292dc;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 25px;
    margin-top: 5px;
}

.select_menu {
    background-color: #929292dc;
    width: 140px;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0px 10px;
}

.text_area {
    background-color: #ddddddf3;
    width: 330px;
    border-style: none;
    border-radius:3px;
    height: 34px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-left: 10px;
}

#add_button {
    background-color:#e6a800d8;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 35px;
    margin-bottom: 10px;
    padding: 0px 10px;

}

#Annotation {
    color: darkgray;
    font-size: small;
}

#bottom {
    background-color: rgb(53, 53, 53);
    margin: 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

#embed_button {
    background-color:#e6a800d8;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 35px;
    margin-bottom: 10px;
    padding: 0px 10px;
}

#form_button_area {
    font-size: 0;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#header {
    background-color:rgb(53, 53, 53);
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#list {
    color: lightgray;
    font-size: small;
    margin: 10px 0px;
    padding-left: 20px;
    line-height: 1.75;
}

#logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
    color: white;
    line-height: 1.75;
}

input[type="submit"], input[type="reset"], input[type="button"], button{
    cursor: pointer;
  }

select {
    cursor: pointer;
  }