*{
    font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;

}
body {
    background-color:rgb(53, 53, 53);
}

.text_area {
    background-color: #ddddddf3;
    width: 330px;
    border-style: none;
    border-radius:3px;
    height: 34px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-left: 10px;
}

.select_menu {
    background-color: #929292dc;
    width: 140px;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0px 10px;
}

.embed {
    margin-right: 6px;
}

#logo {
    margin-top: 10px;
    margin-left: 10px;
}

#title {
    color: white;
    margin-left: 10px;
}
#form_button_area {
    font-size: 0;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


#embed_button {
    background-color:#e6a800d8;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 35px;
    padding: 0px 10px;

}

#add_button {
    background-color:#008d3baf;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 35px;
    margin-bottom: 10px;
    padding: 0px 10px;

}

#embed_area {
    height: auto;
    margin-left: 10px;
}

input[type="submit"], input[type="reset"], input[type="button"], button{
    cursor: pointer;
  }

select {
    cursor: pointer;
  }