*{
    font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color:rgb(41, 41, 41);
}

.text_area {
    background-color: #ddddddf3;
    width: 330px;
    border-style: none;
    border-radius:3px;
    height: 100%;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-left: 10px;
}

.select_menu {
    background-color: #929292dc;
    width: 140px;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 100%;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0px 10px;
}

.embet {
    margin-right: 6px;
}

#form_button_area {
    font-size: 0;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


#embed_button {
    background-color:#e6a800d8;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 100%;
    margin-bottom: 10px;
    padding: 0px 10px;

}

#add_button {
    background-color:#a10043be;
    color: white;
    border-style: none;
    border-radius:3px;
    height: 100%;
    margin-bottom: 10px;
    padding: 0px 10px;

}

#embed_area {
    margin-left: 10px;
}

input[type="submit"], input[type="reset"], input[type="button"], button{
    cursor: pointer;
  }

select {
    cursor: pointer;
  }


